/*導覽列*/
body ul{
    margin: 0px;
}

header{
    position:sticky;
    position: -webkit-sticky;
    top:0;
}
nav{
    background-color: rgba(204, 197, 189, 0.842);
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: rgb(95, 87, 87);
    padding: 10px;
}
nav a:hover{
    background-color: rgb(246, 106, 6);
    color:rgb(238, 208, 9);
    transition: background-color 1s linear, color 1s ease-in;
}
